name: github action with gcp

on:
    push:
        branches:
            - main

jobs:
    terraform-test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v5

            - name: install terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: "1.9.8"

            - name: Terraform Init
              run: terraform init

            - name: Terraform apply
              run: terraform apply --auto-approve

            - uses: 'google-github-actions/auth@v3'
              with:
                credentials_json: '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}' # Replace with the name of your GitHub Actions secret